<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<title>出库查询</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../plugins/datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../../plugins/typeahead/bootstrap3-typeahead.min.js"></script>
<script src="../../js/common.js"></script>

</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">

		<form class="form-horizontal" style="width: 100%;">
			<div class="form-group">
				<div class="col-sm-1 control-label">出库单号</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" v-model="search.outNo" placeholder="出库单号" id="outNo" />
				</div>
				<div class="col-sm-1 control-label">原料名称</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" v-model="search.name" placeholder="名称" id="searchName" @input="getFieldData" data-provide="typeahead" autocomplete="off"/>
				</div>
				<div class="col-sm-1 control-label">订单号</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" v-model="search.orderNo" placeholder="订单号" id="orderNo" />
				</div>
				<div class="col-sm-3">
					<div class="grid-btn">
						<a  class="btn btn-primary" @click="outSearch"><i class="fa fa-search"></i>&nbsp;查询</a>
						<!--<a  class="btn btn-primary" @click="clean"><i class="fa fa-search"></i>&nbsp;重置</a>-->
					</div>
				</div>

			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">出库日期</div>
				<div class="col-sm-2">
					<input type="text" class="form-control form_datetime" id="outStartDate" v-model="search.outStartDate" placeholder="出库日期" readonly="readonly"/>
				</div>
				<div class="col-sm-1 control-label">至</div>
				<div class="col-sm-2">
					<input type="text" class="form-control form_datetime" id="outEndDate" v-model="search.outEndDate" placeholder="截止出库日期" readonly="readonly"/>
				</div>
				<div class="col-sm-1 control-label">批次号</div>
				<div class="col-sm-2">
					<input type="text" class="form-control form_datetime" v-model="search.batchNo" placeholder="批次号"/>
				</div>
				<div class="col-sm-3">
					<div class="grid-btn">
						<!--<a  class="btn btn-primary" @click="search"><i class="fa fa-search"></i>&nbsp;查询</a>-->
						<a  class="btn btn-primary" @click="clean"><i class="fa fa-search"></i>&nbsp;重置</a>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<div class="grid-btn">
						<a  class="btn btn-primary" @click="addNewOutport"><i class="fa fa-search"></i>新建出库</a>
						<!--<a  class="btn btn-info" id="confirm_storg" @click="confirm('storg')"><i class="fa fa-check"></i>&nbsp;确认入库</a>-->
						<!--<a  class="btn btn-warning" id="confirm_back" @click="confirm('back')"><i class="fa fa-history"></i>&nbsp;反确认</a>-->
						<!--<a v-if="hasPermission('purchase:orderinfo:delete')" class="btn btn-primary" id="printImport" @click="print('import')"><i class="fa fa-print"></i>&nbsp;打印入库单</a>-->
					</div>
				</div>
			</div>
		</form>

	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

	<div  v-show="newOutportLayer">
		<div class="panel-heading">
			<form class="form-horizontal" style="width: 100%;">
				<div class="form-group">
					<div class="col-sm-1 control-label">客户名称</div>
					<div class="col-sm-2">
						<!--<input type="text" class="form-control" v-model="outportInfo.customerName" placeholder="客户名称"/>-->
						<select class="form-control" @change="selectVal('customerId')" v-model="outportInfo.customerId" placeholder="客户" readonly="readonly">
							<option v-for="option in customerArr" v-bind:value="option.value">{{option.text}}
						</select>
					</div>
					<div class="col-sm-1 control-label">客户编号</div>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="addCustomerNo" v-model="outportInfo.customerNo" placeholder="客户编号"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">订单类型</div>
					<div class="col-sm-2">
						<select class="form-control" @change="selectVal('orderTypeId')" v-model="outportInfo.orderTypeId" placeholder="类型" readonly="readonly">
							<option v-for="option in orderTypeArr" v-bind:value="option.value">{{option.text}}
						</select>
					</div>
					<div class="col-sm-1 control-label">售点名称</div>
					<div class="col-sm-2">
						<select class="form-control" @change="selectVal('placeId')" v-model="outportInfo.placeId" placeholder="售点" readonly="readonly">
							<option v-for="option in placeArr" v-bind:value="option.value">{{option.text}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>&nbsp;&nbsp;
					<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
				</div>
			</form>
		</div>
	</div>

</div>

<script src="../../js/modules/storage/outputSearch.js"></script>
</body>
</html>