<!DOCTYPE html>
<html>
<head>
<title>客户信息</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../plugins/typeahead/bootstrap3-typeahead.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="row">
			<div class="grid-btn col-sm-4">
				<a v-if="hasPermission('sales:customerinfo:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<!--<a v-if="hasPermission('sales:customerinfo:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
				<a v-if="hasPermission('sales:customerinfo:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				<!--<a v-if="hasPermission('sales:customerprd:list')" class="btn btn-primary" @click="prdconfig"><i class="fa fa-cog"></i>&nbsp;产品配置</a>-->
			</div>
			<!--<div class="input-group input-group-sm col-sm-2">-->
				<!--<input type="text" placeholder="名称/拼音码/代码/简称" id="search" class="form-control">-->
				<!--<span class="input-group-btn">-->
				<!--<button class="btn btn-primary" type="button" @click="search">查询</button>-->
				<!--</span>-->
			<!--</div>-->
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="showForm" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">客户名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="customerInfo.customerName" placeholder="客户名称" @input="getPinying"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">客户代码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="customerInfo.customerCode" placeholder="客户代码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">拼音码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="customerInfo.customerPy" id="customerPy" placeholder="拼音码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">简称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="customerInfo.customerShortName" placeholder="简称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">联系人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="customerInfo.linkman" placeholder="联系人"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">联系电话</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="customerInfo.linkphone" placeholder="联系电话"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="customerInfo.address" placeholder="地址"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">状态</div>
			   	<div class="col-sm-10">
			      <!--<input type="text" class="form-control" v-model="customerInfo.status" placeholder="状态"/>-->
					<select class="form-control" v-model="customerInfo.status" placeholder="请选择状态">
						<option value="1">启用</option>
						<option value="0">禁用</option>
					</select>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="customerInfo.remark" placeholder="备注"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>

	<div v-show="showListPrd">
		<div class="grid-btn">
			<a v-if="hasPermission('sales:customerprd:save')" class="btn btn-primary" @click="addPrd"><i class="fa fa-plus"></i>&nbsp;新增产品</a>
			<a v-if="hasPermission('sales:customerprd:update')" class="btn btn-primary" @click="updatePrd"><i class="fa fa-pencil-square-o"></i>&nbsp;修改产品</a>
			<a v-if="hasPermission('sales:customerprd:delete')" class="btn btn-primary" @click="delPrd"><i class="fa fa-trash-o"></i>&nbsp;删除产品</a>
			<a class="btn btn-warning" @click="reload"><i class="fa fa-trash-o"></i>&nbsp;返回</a>
		</div>
		<table id="jqGridPrd"></table>
		<div id="jqGridPagerPrd"></div>
	</div>

	<div v-show="showFormPrd">
		<!--<div class="panel-heading">{{title}}</div>-->
		<form class="form-horizontal" style="width: 100%;">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
								产品信息
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="form-group">
								<div class="col-sm-1 control-label">产品名称</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" v-model="customerPrd.prdName" placeholder="产品名称" id="prdName" @input="getSelectPrdData" data-provide="typeahead" autocomplete="off"/>
								</div>
								<div class="col-sm-1 control-label">产品编号</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" v-model="customerPrd.prdNo" id="prdNo" placeholder="产品编号"/>
								</div>
								<div class="col-sm-1 control-label">产品售价</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" v-model="customerPrd.prdPrice" id="prdPrice" placeholder="产品售价"/>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="panel-group" id="accordion2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
								标签信息
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="form-group">
								<div class="col-sm-2 control-label">标签规格</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagSpec" placeholder="标签规格"/>
								</div>
								<div class="col-sm-2 control-label">标签编号</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagNo" placeholder="标签编号"/>
								</div>

								<div class="col-sm-2 control-label">标签条码</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagCode" placeholder="标签条码"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2 control-label">加热时长</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagPower" placeholder="加热时长"/>
								</div>
								<div class="col-sm-2 control-label">生产时间</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagProdTime" placeholder="生产时间"/>
								</div>
								<div class="col-sm-2 control-label">保质期</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagQgp" placeholder="保质期"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2 control-label">储存条件</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagStorage" placeholder="储存条件"/>
								</div>
								<div class="col-sm-2 control-label">净含量</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagNetwgt" placeholder="净含量"/>
								</div>
								<div class="col-sm-2 control-label">标签价格</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagPrice" placeholder="标签价格"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2 control-label">许可编号</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagLicenseNo" placeholder="许可编号"/>
								</div>
								<div class="col-sm-2 control-label">执行标准</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagSe" placeholder="执行标准"/>
								</div>
								<div class="col-sm-2 control-label">联系电话</div>
								<div class="col-sm-2">
									<input type="text" class="form-control" v-model="customerPrd.tagLinkphone" placeholder="联系电话"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2 control-label">地址</div>
								<div class="col-sm-4">
									<input type="text" class="form-control" v-model="customerPrd.tagAddr" placeholder="地址"/>
								</div>
								<div class="col-sm-2 control-label">产地</div>
								<div class="col-sm-4">
									<input type="text" class="form-control" v-model="customerPrd.tagProdAddr" placeholder="产地"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2 control-label">制造商</div>
								<div class="col-sm-4">
									<input type="text" class="form-control" v-model="customerPrd.tagManufacturer" placeholder="制造商"/>
								</div>
								<div class="col-sm-2 control-label">状态</div>
								<div class="col-sm-4">
									<!--<input type="text" class="form-control" v-model="customerPrd.status" placeholder="状态"/>-->
									<select class="form-control" v-model="customerPrd.status" placeholder="请选择状态">
										<option value="1">启用</option>
										<option value="0">禁用</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2 control-label">配料表</div>
								<div class="col-sm-4">
									<input type="text" class="form-control" v-model="customerPrd.tagBurdenList" placeholder="配料表"/>
								</div>
								<div class="col-sm-2 control-label">备注</div>
								<div class="col-sm-4">
									<input type="text" class="form-control" v-model="customerPrd.remark" placeholder="备注"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdatePrd" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reloadPrd" value="返回"/>
			</div>
		</form>
	</div>

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						产品配置复制
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" style="width:100%;">
						<div class="form-group">
							<div class="col-sm-2 control-label">选择客户</div>
							<div class="col-sm-6">
								<input type="text" class="form-control" v-model="copyInfo.targetId" placeholder="选择客户" id="search_customer" @input="getFieldDataCustomer" data-provide="typeahead" autocomplete="off"/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						关闭
					</button>
					<button type="button" class="btn btn-primary" @click="modalCommit">
						提交
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>

<script src="../../js/modules/sales/customerinfo.js"></script>
</body>
</html>