<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<title>客户订单信息</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">

<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../plugins/typeahead/bootstrap3-typeahead.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="row">
			<div class="grid-btn col-lg-1">
				<a v-if="hasPermission('sales:productionorder:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<!--<a v-if="hasPermission('sales:productionorder:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
				<!--<a v-if="hasPermission('sales:productionorder:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
			</div>
			<div class="col-lg-6">
				<form class="form-horizontal" style="width: 100%;">
					<div class="form-group">
						<div class="col-sm-1 control-label">订单编号</div>
						<div class="col-sm-2">
							<input type="text" class="form-control"  placeholder="订单编号" id="productionNo" v-model="q.productionNo"/>
						</div>
						<div class="col-sm-1 control-label">订单类型</div>
						<div class="col-sm-2">
							<!--<input type="text" class="form-control"  placeholder="订单类型" id="orderTypeName" v-model="q.orderTypeName"/>-->
							<select class="form-control" v-model="q.orderTypeName" placeholder="订单类型">
								<option v-for="option in orderTypeArr" v-bind:value="option.value">{{option.text}}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-1 control-label">客户</div>
						<div class="col-sm-2">
							<input type="text" class="form-control"  placeholder="客户编号/名称" id="customer" v-model="q.customer" @input="getFieldData" data-provide="typeahead" autocomplete="off"/>
						</div>

						<div class="col-sm-1 control-label">售点名称</div>
						<div class="col-sm-2" >
							<!--<input type="text" class="form-control"  placeholder="售点名称" id="placeName" v-model="q.placeName"/>-->
							<select class="form-control" v-model="q.placeName" placeholder="售点名称">
								<option v-for="option in placeArr" v-bind:value="option.value">{{option.text}}
							</select>
						</div>
						<div class="col-sm-3">
							<button class="btn btn-primary" type="button" @click="search">查询</button>
						</div>
						<!--<div class="col-sm-1 control-label">客户名称</div>-->
						<!--<div class="col-sm-2">-->
						<!--<input type="text" class="form-control"  placeholder="客户名称" id="s_customerName"/>-->
						<!--</div>-->
					</div>
					<!--<div class="form-group">-->
					<!--</div>-->
				</form>
				<!--<div class="input-group input-group-sm col-sm-4">-->
				<!--<input type="text" placeholder="订单编号/订单类型编号/客户编号/客户名称/售点名称" id="search" class="form-control">-->
				<!--<span class="input-group-btn">-->
				<!--&lt;!&ndash;<button class="btn btn-primary" type="button" @click="search">查询</button>&ndash;&gt;-->
				<!--</span>-->
				<!--</div>-->
			</div>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

	<div v-show="addOrderForm" class="panel panel-default">
        <!--<form class="form-horizontal" style="width: 100%;">-->
			<!--<div class="form-group">-->
        <!--<div class="col-sm-1 control-label">类型</div>-->
				<!--<div class="col-sm-2">-->
        <!--<select class="form-control" @change="selectVal('orderTypeId')" v-model="productionOrder.orderTypeId" placeholder="类型" readonly="readonly">-->
        <!--<option v-for="option in orderTypeArr" v-bind:value="option.value">{{option.text}}-->
        <!--</select>-->
				<!--</div>-->
        <!--<div class="col-sm-1 control-label">客户</div>-->
				<!--<div class="col-sm-2">-->
        <!--<select class="form-control" @change="selectVal('customerId')" v-model="productionOrder.customerId" placeholder="客户" readonly="readonly">-->
        <!--<option v-for="option in customerArr" v-bind:value="option.value">{{option.text}}-->
        <!--</select>-->
				<!--</div>-->
        <!--<div class="col-sm-1 control-label">售点</div>-->
				<!--<div class="col-sm-2">-->
        <!--<select class="form-control" @change="selectVal('placeId')" v-model="productionOrder.placeId" placeholder="售点" readonly="readonly">-->
        <!--<option v-for="option in placeArr" v-bind:value="option.value">{{option.text}}-->
        <!--</select>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="form-group">-->
        <!--<div class="col-sm-1 control-label">编号</div>-->
				<!--<div class="col-sm-2">-->
        <!--<input type="text" class="form-control" v-model="productionOrder.productionNo" placeholder="单号"/>-->
				<!--</div>-->
        <!--<div class="col-sm-1 control-label">备注</div>-->
				<!--<div class="col-sm-2">-->
        <!--<input type="text" class="form-control" v-model="productionOrder.remakr" placeholder="备注"/>-->
				<!--</div>-->
        <!--<div class="col-sm-1 control-label">状态</div>-->
				<!--<div class="col-sm-2">-->
        <!--<select class="form-control" v-model="productionOrder.status" placeholder="请选择状态">-->
        <!--<option value="1">启用</option>-->
        <!--<option value="0">禁用</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<div class="col-sm-1 control-label">预订单</div>-->
        <!--<div class="col-sm-2">-->
        <!--<select class="form-control" v-model="productionOrder.typeId" placeholder="是否是预订单">-->
        <!--<option value="1">是</option>-->
        <!--<option value="0">否</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<div class="col-sm-2 control-label"></div>-->
        <!--<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>-->
        <!--&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>-->
        <!--</div>-->
        <!--&lt;!&ndash;&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-1 control-label">成本</div>&ndash;&gt;-->
				<!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" class="form-control" v-model="productionOrder.prdCost" placeholder="成本"/>&ndash;&gt;-->
				<!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-1 control-label">收入</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" class="form-control" v-model="productionOrder.prdIncome" placeholder="收入"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-1 control-label">折后收入</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" class="form-control" v-model="productionOrder.discountIncome" placeholder="折后收入"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-1 control-label">产品总数</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" class="form-control" v-model="productionOrder.prdMount" placeholder="产品总数"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-1 control-label">成本率</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" class="form-control" v-model="productionOrder.costRate" placeholder="成本率"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-1 control-label">折扣成本比</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" class="form-control" v-model="productionOrder.discountCostRate" placeholder="折扣成本比"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-1 control-label"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<input type="button" class="btn btn-primary" id="saveOrUpdateDetail" @click="saveOrUpdateDetail" value="确定"/>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</form>-->
	</div>

	<div v-show="showForm" class="panel panel-default">
		<!--<div class="panel-heading">{{title}}</div>-->
		<div class="grid-btn">
			<a  class="btn btn-primary" id="addPrd_btn" @click="addPrd"><i class="fa fa-plus"></i>&nbsp;新增产品</a>
			<!--<a  class="btn btn-primary" id="editPrd_btn" @click="editPrd"><i class="fa fa-pencil"></i>&nbsp;编辑产品</a>-->
			<!--<a  class="btn btn-primary" id="delPrd_btn" @click="deletePrd"><i class="fa fa-close"></i>&nbsp;删除产品</a>-->
			<!--<a  class="btn btn-primary" id="savePrd_btn" @click="savePrd"><i class="fa fa-save"></i>&nbsp;保存</a>-->

			<!--<a  class="btn btn-info" id="confirm_ok" @click="saveOrder"><i class="fa fa-check"></i>&nbsp;确认</a>-->
			<!--<a  class="btn btn-warning" id="confirm_back" @click="confirm('back')"><i class="fa fa-history"></i>&nbsp;反确认</a>-->

			<a  class="btn btn-primary" @click="reload"><i class="fa fa-undo"></i>&nbsp;返回</a>
		</div>

		<div class="container-fluid" style="width: 100%;">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<table id="jqGridPRD"></table>
					<div id="jqGridPagerPRD"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="addLayer" style="display: none;">
		<div class="panel-heading"></div>
		<form class="form-horizontal" style="width: 100%;">
			<div class="form-group">
				<div class="col-sm-3 control-label">选择产品</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" v-model="productionOrderDetailEntity.prdName" placeholder="请选择" id="prd" @input="getSelectDataPrd()" data-provide="typeahead" autocomplete="off"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">需求量</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" v-model="productionOrderDetailEntity.amount" placeholder="需求量" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">定价</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" v-model="productionOrderDetailEntity.price1" id="selectPrice1" placeholder="定价" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">售价</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" v-model="productionOrderDetailEntity.price2" id="selectPrice2" placeholder="售价" />
				</div>
			</div>
		</form>
	</div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{title}}订单
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" style="width: 100%;">
                        <div class="form-group">
                            <div class="col-sm-1 control-label">类型</div>
                            <div class="col-sm-3">
                                <select class="form-control" @change="selectVal('orderTypeId')"
                                        v-model="productionOrder.orderTypeId" placeholder="类型" readonly="readonly">
                                    <option v-for="option in orderTypeArr" v-bind:value="option.value">{{option.text}}
                                </select>
                            </div>
                            <div class="col-sm-1 control-label">客户</div>
                            <div class="col-sm-3">
                                <select class="form-control" @change="selectVal('customerId')"
                                        v-model="productionOrder.customerId" placeholder="客户" readonly="readonly">
                                    <option v-for="option in customerArr" v-bind:value="option.value">{{option.text}}
                                </select>
                            </div>
                            <div class="col-sm-1 control-label">售点</div>
                            <div class="col-sm-3">
                                <select class="form-control" @change="selectVal('placeId')"
                                        v-model="productionOrder.placeId" placeholder="售点" readonly="readonly">
                                    <option v-for="option in placeArr" v-bind:value="option.value">{{option.text}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-1 control-label">编号</div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" v-model="productionOrder.productionNo"
                                       placeholder="单号"/>
                            </div>
                            <div class="col-sm-1 control-label">备注</div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" v-model="productionOrder.remakr"
                                       placeholder="备注"/>
                            </div>
                            <div class="col-sm-1 control-label">状态</div>
                            <div class="col-sm-3">
                                <select class="form-control" v-model="productionOrder.status" placeholder="请选择状态">
                                    <option value="1">启用</option>
                                    <option value="0">禁用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-1 control-label">预订单</div>
                            <div class="col-sm-3">
                                <select class="form-control" v-model="productionOrder.typeId" placeholder="是否是预订单">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveOrUpdate"
                            v-show="addOrUpdate">
                        确定
                    </button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="copyOrder"
                            v-show="copyBtn">
                        复制
                    </button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" data-dismiss="modal" @click="reload">
                        返回
                    </button>
                    <!--<button type="button" class="btn btn-primary" @click="modalCommit">-->
                    <!--提交-->
                    <!--</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>

<script src="../../js/modules/sales/productionorder.js"></script>
</body>
</html>