<!DOCTYPE html>
<html>
<head>
<title>订单明细信息</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('purchase:orderdetail:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('purchase:orderdetail:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('purchase:orderdetail:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">订单ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.orderId" placeholder="订单ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">原料ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.mtrId" placeholder="原料ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">原料编码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.mtrCode" placeholder="原料编码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">原料名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.mtrName" placeholder="原料名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">类型ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.mtrTypeId" placeholder="类型ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">类型名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.mtrTypeNaem" placeholder="类型名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">单位</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.mtrUnit" placeholder="单位"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">转换率</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.mtrRate" placeholder="转换率"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">仓库ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.warehoseId" placeholder="仓库ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">仓库名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.warehoseName" placeholder="仓库名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">件重</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.wgtUnit1" placeholder="件重"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">盒重</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.wgtUnit2" placeholder="盒重"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">价格</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.price" placeholder="价格"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">成分分类ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.costTypeId" placeholder="成分分类ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">成本分类名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderDetail.costTypeName" placeholder="成本分类名称"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/purchase/orderdetail.js"></script>
</body>
</html>