<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>产品基础信息</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../plugins/typeahead/bootstrap3-typeahead.min.js"></script>
    <script src="../../js/common.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!--<link rel="stylesheet" href="/resources/demos/style.css" />-->

    <link rel="stylesheet" href="../../plugins/select2/select2.min.css">
    <script src="../../plugins/select2/select2.min.js"></script>

    <style>
        .select2-container--open {
            z-index: 9999999999
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <!--<div v-show="showList">-->
    <!--<div class="grid-btn">-->
    <!--<a v-if="hasPermission('baseData:prddata:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
    <!--<a v-if="hasPermission('baseData:prddata:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
    <!--<a v-if="hasPermission('baseData:prddata:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
    <!--</div>-->
    <!--<table id="jqGrid"></table>-->
    <!--<div id="jqGridPager"></div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" style="width: 100%">
                        <div class="form-group form-group-sm">
                            <div class="col-sm-3 control-label">产品分类</div>
                            <div class="col-sm-6">
                                <!--<select class="form-control" v-model="q.typeId" placeholder="产品分类">-->
                                <!--<option v-for="option in prdTypeArr" v-bind:value="option.value">{{option.text}}-->
                                <!--</select>-->

                                <select id="selectTypeId" class="form-control select2" v-model="q.prdType"
                                        autocomplete="off">
                                    <optgroup v-for="option in prdTypeArr_s" v-bind:value="option.value"
                                              v-bind:label="option.text">
                                        <option v-for="child in option.child" v-bind:value="child.value">
                                            {{child.text}}
                                        </option>
                                    </optgroup>
                                </select>


                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-sm-3 control-label">订单类别</div>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" style="cursor:pointer;" v-model="q.orderTypeName" @click="typeInfoTree('orderTypeSearch')"/>-->
                                <select class="form-control" v-model="q.orderType" placeholder="订单类别">
                                    <option v-for="option in orderTypeArr" v-bind:value="option.value">{{option.text}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-sm-3 control-label">编码</div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" v-model="q.prdCode" placeholder="编码"/>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-sm-3 control-label">名称</div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" id="searchName" v-model="q.prdName"
                                       placeholder="名称/拼音码" @input="getFieldData" data-provide="typeahead"
                                       autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">半成品</div>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="q.isFinished">
                                    <option value="-1">全部</option>
                                    <option value="0">成品</option>
                                    <option value="1">半成品</option>
                                </select>
                            </div>
                            <input type="button" class="btn btn-primary input-sm" @click="query" value="查询"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="jqGrid"></table>
                </div>
            </div>

            <!--<div id="jqGridPager"></div>-->
        </div>
        <div class="col-xs-8">
            <form class="form-horizontal" style="width: 100%;">
                <div class="form-group">
                    <div class="col-sm-2 control-label">产品类别</div>
                    <div class="col-sm-2">
                        <!--<input type="text" class="form-control" v-model="prdData.typeName" placeholder="产品类别" @click="typeInfoTree('editTypeName')"/>-->
                        <!--<select class="form-control" v-model="prdData.typeId" placeholder="产品类别">-->
                        <!--<option v-for="option in prdTypeArr" v-bind:value="option.value">{{option.text}}-->
                        <!--</select>-->

                        <select id="prdTypeId" class="form-control select2" v-model="prdData.typeId" autocomplete="off">
                            <optgroup v-for="option in prdTypeArr" v-bind:value="option.value"
                                      v-bind:label="option.text">
                                <option v-for="child in option.child" v-bind:value="child.value">{{child.text}}</option>
                            </optgroup>
                        </select>

                    </div>
                    <div class="col-sm-2 control-label">产品编号</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.prdCode" placeholder="产品编号"
                               readonly="readonly"/>
                    </div>
                    <div class="col-sm-2 control-label">生产站点</div>
                    <div class="col-sm-2">
                        <input type="text" id="editpdcStn" class="form-control" v-model="prdData.pdcStnName"
                               placeholder="生产站点" @click="typeInfoTree('editpdcStn')"/>
                        <!--<select class="form-control" v-model="prdData.pdcStn" placeholder="生产站点">-->
                        <!--<option v-for="option in pdcStnArr" v-bind:value="option.value">{{option.text}}-->
                        <!--</select>-->
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">产品名称</div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" v-model="prdData.prdName" placeholder="产品名称"
                               @input="getPinying('editPrdName')"/>
                    </div>
                    <div class="col-sm-2 control-label">拼音码</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.prdPy" placeholder="拼音码"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">总毛重</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.sumGrossWgt" placeholder="总毛重"
                               readonly="readonly"/>
                    </div>
                    <div class="col-sm-2 control-label">总净重</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.sumNetWgt" placeholder="总净重"
                               readonly="readonly"/>
                    </div>
                    <div class="col-sm-2 control-label">总熟重</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.sumCookedWgt" placeholder="总熟重"
                               readonly="readonly"/>
                    </div>
                </div>
                <div>
                    <div class="col-sm-2 control-label">订单类别</div>
                    <div class="col-sm-2">
                        <!--<input type="text" class="form-control" v-model="prdData.orderTypeName" placeholder="订单类别" @click="typeInfoTree('editOrderType')"/>-->
                        <select class="form-control" v-model="prdData.orderType" placeholder="订单类别">
                            <option v-for="option in orderTypeArr" v-bind:value="option.value">{{option.text}}
                        </select>
                    </div>
                    <div class="col-sm-2 control-label">锅重</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.potWeight" placeholder="锅重"/>
                    </div>
                    <div class="col-sm-2 control-label">盒重</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.boxWeight" placeholder="盒重"/>
                    </div>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">参考售价</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.referencePrice" placeholder="参考售价"/>
                    </div>
                    <div class="col-sm-2 control-label">成本</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.cost" placeholder="成本"/>
                    </div>
                    <div class="col-sm-2 control-label">成本占比</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.costRatio" placeholder="成本占比"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">烹调方式</div>
                    <div class="col-sm-2">
                        <!--<input type="text" class="form-control" v-model="prdData.cookTypeName" placeholder="烹调方式" @click="typeInfoTree('editCookType')"/>-->
                        <select class="form-control" v-model="prdData.cookType" placeholder="烹调方式">
                            <option v-for="option in cookTypeArr" v-bind:value="option.value">{{option.text}}
                        </select>
                    </div>
                    <div class="col-sm-2 control-label">单锅生产时间</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.productionTime" placeholder="单锅生产时间"/>
                    </div>
                    <div class="col-sm-2 control-label">额外成本</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.extraCost" placeholder="额外成本"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">是否半成品</div>
                    <div class="col-sm-2">
                        <select class="form-control" v-model="prdData.semiFinished">
                            <option value="0">成品</option>
                            <option value="1">半成品</option>
                        </select>
                    </div>
                    <div class="col-sm-2 control-label">冷却方式</div>
                    <div class="col-sm-2">
                        <select class="form-control" v-model="prdData.quickCooling">
                            <option value="2">摊凉</option>
                            <option value="1">速冷</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                    <div class="col-sm-2 control-label">速冷率</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.quickCoolingRate" placeholder="速冷率"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">单位</div>
                    <div class="col-sm-2">
                        <select class="form-control" v-model="prdData.unit" placeholder="单位" readonly="readonly">
                            <option v-for="option in unitArr" v-bind:value="option.value">{{option.text}}
                        </select>
                    </div>
                    <div class="col-sm-2 control-label">转换率</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.prdRate" placeholder="转换率"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">是否取整</div>
                    <div class="col-sm-2">
                        <select class="form-control" v-model="prdData.rounding">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                    <div class="col-sm-2 control-label">取整重</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.roundWeight" placeholder="取整重"/>
                    </div>
                    <div class="col-sm-2 control-label">报表序</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.reportNo" placeholder="报表序"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">生产工艺</div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" v-model="prdData.process" placeholder="生产工艺"/>
                    </div>
                    <div class="col-sm-2 control-label">对外编码</div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="prdData.extendCode" placeholder="对外编码"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">备注</div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" v-model="prdData.remark" placeholder="备注"/>
                    </div>
                    <div class="col-sm-2 control-label">状态</div>
                    <div class="col-sm-2">
                        <span class="label label-success" v-if="prdData.status==1">启用</span>
                        <span class="label label-danger" v-if="prdData.status==0">禁用</span>
                        <span class="label label-info" v-if="prdData.status==2">编辑</span>
                    </div>
                </div>
            </form>
            <div id="accordion" class="form-group" style="margin-left: 10%">
                <p>营养成分</p>
                <form id="prdNcInfo" class="form-horizontal" style="width: 100%;">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">能量/千焦</div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" v-model="prdNcInfo.energy" placeholder="能量/千焦"/>
                        </div>
                        <div class="col-sm-2 control-label">蛋白质/克</div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" v-model="prdNcInfo.protein" placeholder="蛋白质/克"/>
                        </div>
                        <div class="col-sm-2 control-label">脂肪/克</div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" v-model="prdNcInfo.fat" placeholder="脂肪/克"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">能量/NRV%</div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" v-model="prdNcInfo.energyNrv"
                                   placeholder="能量/NRV%"/>
                        </div>
                        <div class="col-sm-2 control-label">蛋白质/NRV%</div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" v-model="prdNcInfo.proteinNrv"
                                   placeholder="蛋白质/NRV%"/>
                        </div>
                        <div class="col-sm-2 control-label">脂肪/NRV%</div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" v-model="prdNcInfo.fatNrv" placeholder="脂肪/NRV%"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">碳水化合物/克</div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" v-model="prdNcInfo.carbohydrate"
                                   placeholder="碳水化合物/克"/>
                        </div>
                        <div class="col-sm-2 control-label">钠/毫克</div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" v-model="prdNcInfo.sodium" placeholder="钠/毫克"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">碳水化合物/NRV%</div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" v-model="prdNcInfo.carbohydrateNrv"
                                   placeholder="碳水化合物/NRV%"/>
                        </div>
                        <div class="col-sm-2 control-label">钠/NRV%</div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" v-model="prdNcInfo.sodiumNrv" placeholder="钠/NRV%"/>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="form-group">
                <div class="col-sm-1 control-label"></div>
                <div class="col-sm-8">
                    <!--&nbsp;&nbsp;<input type="button" class="btn btn-primary" @click="add" value="新增产品"/>-->
                    &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="saveOrUpdate" value="保存更改"/>
                    &nbsp;&nbsp;<a v-if="hasPermission('baseData:prddata:save')" class="btn btn-primary" @click="add"><i
                        class="fa fa-plus"></i>&nbsp;新增产品</a>
                    <!--&nbsp;&nbsp;<a v-if="hasPermission('baseData:prddata:update')" class="btn btn-primary"-->
                                   <!--@click="saveOrUpdate"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
                    &nbsp;&nbsp;<a v-if="prdData.status!=1 && prdData.prdName" class="btn btn-success"
                                   @click="startPrd">启用</a>
                    <a v-if="prdData.status!=0 && prdData.prdName" class="btn btn-danger" @click="stopPrd">禁用</a>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <div class="col-sm-1 control-label"></div>
                <div class="col-sm-8">
                    <div class="alert alert-info" role="alert">*此产品用于<a @click="showBom"> <font
                            style="color: red;font-size: 18px;">&nbsp;&nbsp;{{bomCount}}&nbsp;&nbsp;</font></a>笔配方中
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="addLayer" style="display: none;">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" style="width:100%;">
            <div class="form-group">
                <label for="addPrdType" class="col-sm-2 control-label">产品类别</label>
                <div class="col-sm-3">
                    <select id="addPrdType" class="form-control select2" v-model="addPrdData.typeName" autocomplete="off">
                        <optgroup v-for="option in prdTypeArr" v-bind:value="option.value" v-bind:label="option.text">
                            <option v-for="child in option.child" v-bind:value="child.value">{{child.text}}</option>
                        </optgroup>
                    </select>
                </div>
                <label for="addPrdCode" class="col-sm-2 control-label">产品编号</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="addPrdCode" v-model="addPrdData.prdCode"
                           placeholder="产品编号" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <label for="addPrdName" class="col-sm-2 control-label">产品名称</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="addPrdName" v-model="addPrdData.prdName"
                           placeholder="产品名称" @input="getPinying('addPrdName')"/>
                </div>
                <label for="addPrdPy" class="col-sm-2 control-label">拼音码</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="addPrdPy" v-model="addPrdData.prdPy" placeholder="拼音码"/>
                </div>
            </div>
            <div class="form-group">
                <label for="addPdcStnName" class="col-sm-2 control-label">生产站点</label>
                <div class="col-sm-3">
                    <input type="text" id="addPdcStnName" class="form-control" v-model="addPrdData.pdcStnName"
                           placeholder="生产站点" @click="typeInfoTree('addPdcStn')" readonly="readonly"/>
                </div>

                <label for="addOrderType" class="col-sm-2 control-label">订单类别</label>
                <div class="col-sm-3">
                    <select class="form-control" id="addOrderType" v-model="addPrdData.orderType" placeholder="订单类别">
                        <option v-for="option in orderTypeArr" v-bind:value="option.value">{{option.text}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="addReferencePrice" class="col-sm-2 control-label">参考售价</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="addReferencePrice" v-model="addPrdData.referencePrice" placeholder="参考售价"/>
                </div>
                <label for="addSemiFinished" class="col-sm-2 control-label">是否半成品</label>
                <div class="col-sm-3">
                    <select class="form-control" id="addSemiFinished" v-model="addPrdData.semiFinished">
                        <option value="0">成品</option>
                        <option value="1">半成品</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="addPotWeight" class="col-sm-2 control-label">锅重</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="addPotWeight" d v-model="addPrdData.potWeight"
                           placeholder="锅重"/>
                </div>
                <label for="addBoxWeight" class="col-sm-2 control-label">盒重</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="addBoxWeight" v-model="addPrdData.boxWeight" placeholder="盒重"/>
                </div>
            </div>
            <div class="form-group">
                <label for="addUnit" class="col-sm-2 control-label">单位</label>
                <div class="col-sm-3">
                    <select class="form-control" id="addUnit" v-model="addPrdData.unit" placeholder="单位" readonly="readonly">
                        <option v-for="option in unitArr" v-bind:value="option.value">{{option.text}}
                    </select>
                </div>
                <label for="addPrdRate" class="col-sm-2 control-label">转换率</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="addPrdRate" v-model="addPrdData.prdRate" placeholder="转换率"/>
                </div>
            </div>
            <div class="form-group">
                <label for="addRemark" class="col-sm-2 control-label">备注</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="addRemark" v-model="addPrdData.remark" placeholder="备注"/>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<div class="col-sm-2 control-label"></div> -->
            <!--<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>-->
            <!--&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>-->
            <!--</div>-->
        </form>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        关联配方：
                    </h4>
                </div>
                <div class="modal-body">
                    <table id="bomGrid"></table>
                    <!--<form class="form-horizontal" style="width:100%;">-->
                    <!--<div class="form-group">-->
                    <!--<div class="col-sm-2 control-label">开始日期</div>-->
                    <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control form_datetime" readonly="readonly" id="exportStartDate" placeholder="开始日期"/>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 control-label">截止日期</div>-->
                    <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control form_datetime" readonly="readonly" id="exportEndDate" placeholder="截止日期"/>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</form>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <!--<button type="button" class="btn btn-primary" @click="modalCommit">-->
                    <!--提交-->
                    <!--</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>

<div id="typeInfoLayer" style="display: none;padding:10px;">
    <ul id="typeInfoTree" class="ztree"></ul>
</div>

<script src="../../js/modules/baseData/prddata.js"></script>
</body>
</html>