<!DOCTYPE html>
<html>
<head>
    <title>订单报表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script src="../../erp/libs/jquery.min.js"></script>
    <script src="../../erp/plugins/layer/layer.js"></script>
    <script src="../../erp/libs/bootstrap.min.js"></script>
    <script src="../../erp/libs/vue.min.js"></script>
    <script src="../../erp/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../erp/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../erp/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../erp/plugins/typeahead/bootstrap3-typeahead.min.js"></script>
    <script src="../../erp/js/common.js"></script>
</head>
<body>
<div id="rrapp">
<h1>Hello report</h1>
<iframe src="/erp/ReportServer?reportlet=erp%2Forder.cpt&token=5df83c2e26d06f97f9a443531a03e9b9"></iframe>
</div>
</body>
</html>